<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection"/>
    <meta content="email=no" name="format-detection"/>
    <meta charset="UTF-8">
    <title>林清轩品牌商城-品牌简介</title>
    <link href="css/common.css" rel="stylesheet" type="text/css" />
    <script src="js/TouchSlide.1.1.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
</head>
<body style="position:relative;">
<div id="Main">


<!--浮动二级目录-->


    <div id="Main-mask"></div>

    
    
    <!-- 顶部输入框 start-->
    <div class="topSearch" id="tSearch" style="display:none;">
        <div class="inner">
             <div class="magnifier"></div>
             <div class="cancel"></div>
             <input type="text" class="inputstyle" value="请输入关键词" />
        </div>
    </div>
    <!-- 顶部输入框 end-->
    

    <!--品牌简介start-->
    <div class="brand-intro">
        <img src="img/intro/intro1.jpg" alt="" />
        <img src="img/intro/intro2.jpg" alt="" />
        <img src="img/intro/intro3.jpg" alt="" />
        <img src="img/intro/intro4.jpg" alt="" />
    </div>
    <!--品牌简介end-->


</div>
<script src="js/common.js"></script>
</body>

</html>