<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection"/>
    <meta content="email=no" name="format-detection"/>
    <meta charset="UTF-8">
    <title>林清轩品牌商城-产品系列</title>
    <link href="css/common.css" rel="stylesheet" type="text/css" />
    <script src="js/TouchSlide.1.1.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
</head>
<body style="position:relative;">

<div class="btmtext">
	<ul>
    	<li>
        	<a>联系我们</a>
            |
            <a>招贤纳士</a>
            |
            <a>友情链接</a>
        </li>
        <li>
        	版权所有 沪ICP备11014464号
        </li>
    </ul>
</div>

<!--浮动二级目录-->
<div id="Main">
    <div id="Main-mask"></div>
    
    <!-- 顶部输入框 start-->
    <div class="topSearch" id="tSearch" style="display:none;">
        <div class="inner">
             <div class="magnifier"></div>
             <div class="cancel"></div>
             <input type="text" class="inputstyle" value="请输入关键词" />
        </div>
    </div>
    <!-- 顶部输入框 end-->
    

    <!--产品系列start-->
    <div class="p-region">
        <img src="img/product/p_haizao.jpg"  alt=""/>
    </div>
    <!--产品系列end-->


    <!-- 网站底部导航 end -->
</div>
<script src="js/common.js"></script>
</body>
</html>