<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection"/>
    <meta content="email=no" name="format-detection"/>
    <meta charset="UTF-8">
    <title>林清轩品牌商城-会员中心</title>
    <link href="css/common.css" rel="stylesheet" type="text/css" />
    <script src="js/TouchSlide.1.1.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
</head>
<body style="position:relative;">
<div id="Main">
<div class="btmtext">
	<ul>
    	<li>
        	<a>联系我们</a>
            |
            <a>招贤纳士</a>
            |
            <a>友情链接</a>
        </li>
        <li>
        	版权所有 沪ICP备11014464号
        </li>
    </ul>
</div>






    <div id="Main-mask"></div>

    
    
    <!-- 顶部输入框 start-->
    <div class="topSearch" id="tSearch" style="display:none;">
        <div class="inner">
             <div class="magnifier"></div>
             <div class="cancel"></div>
             <input type="text" class="inputstyle" value="请输入关键词" />
        </div>
    </div>
    <!-- 顶部输入框 end-->
    

    <!--会员中心start-->
    <div class="user-region">
    	<div class="content">
            <h3 class="separator">会员须知</h3>
            <ul>
                <li>
                    在林清轩品牌（直营美肤小铺）购物满238元（以实际付款金额为准）即可享受会员价并成为会员；<br>
                    <span class="area-color">若首次消费未满238元，系统会自动标示为准会员，在林清轩品牌线上和线下的自营渠道内累计购物满238元后，自动升级成为正式会员，计会员积分[消费者需要留下相应的个人信息，例如：有效的手机号码]</span>
                </li>
                <li>
                    线上购物都是会员价，首次购物未满238元的，系统纳入准会员名单，
    累计购物满238元后成为正式会员，计会员积分；
                </li>
                <li>
                    线上首次购物满238元的，系统自动以收件人姓名、电话生成会员信
    息，且产生相应的积分，若下次购物信息中的收件人、电话与第一次符合，
    则自动生成积分；
                </li>
                <li>
                    办理会员时须正确填写本人真实姓名、生日、手机号码、邮箱及其他
    选填信息（信息不正确将无法正常享有会员权利）；
                </li>
                <li>
                    为坚持环保理念，林清轩已取消会员卡片，锁定会员登记时的姓名及
    手机号码为主要查询依据，如信息有变，烦请致电400-090-1108（工作
    日的周一到周五 9：00—18：00）。 
                </li>
                <li>
                    成功办理会员后在7日内会以短信的形式告知及确认。
                </li>
            </ul>
        	<img src="img/usercenter/u_pic1.jpg" alt=""/>
        	<h3 class="separator">会员须知</h3>
            <ul>
                <li>
                    会员尊享积分换礼制，每消费1元即可累计1分。购买时请告知登记时的手机号码，如没有告知，则本次消费不予积分；</li>
                <li>
                    <span class="area-color">林清轩的线上和线下直营渠道消费都会产生积分，在指定时间内在直营美肤小铺和官网积分兑换板块内可使用积分；</span></li>
                <li>
                    线上购物只有在第一次满238元或累计消费满238元后方能产生会员信息，生成会员积分，之后的消费自动生成积分，<span class="area-color">线上的积分在官网积分兑换板块内可以使用；</span></li>
                <li>
                    自本制度公布之日起产生的线上购物符合积分条件的才计积分，之前的线上消费不做积分补录；</li>
                <li>
                    积分会在购物或配送成功之日的7天后自动生成，其中线上购物产生的积分在确认收货的7天后生成，增加的积分隔日生效。积分可参与林清轩官方的兑换活动，具体活动将通过公司官方平台对外发布（其他非官方渠道的积分活动都不予认可，若造成积分丢失，林清轩公司将不负责）；</li>
                <li>
                    换礼内容及时间将提前以<span class="area-color">网站/微信/微博/短信/邮件/店内公告的形式告知；</span></li>
                <li>
                    换礼地点为全国范围内的所有直营美肤小铺及官网积分兑换版块；</li>
                <li>
                    换礼时，会员需凭本人身份证及其他验证信息经店内工作人员核实后进行兑换并索取兑换凭证或在官网会员账号内完成。</li>
            </ul>
        </div>
        
        <div class="member-remark" style="border-top:solid 1px #638507;">
            <ul>
                <li>
                    需要了解会员卡积分及兑换的动态详情或者对会员政策有任何的疑问，可以通过以下三种方式咨询：</li>
                <li>
                    <span class="area-color">咨询会员所在城市的林清轩美肤小铺的店内工作人员；<br>
                    登录林清轩官网（www.lqxshop.com）查询相关内容或联系线上客服；<br>
                    拨打林清轩客服热线：『400-090-1108』接洽咨询。</span></li>
                <li>
                    上海清轩生物科技有限公司在法律允许的范围内对会员活动细则做出适当的调整，修改的内容会及时在门店和林清轩官网（www.lqxshop.com）公布，不另行通知。</li>
            </ul>
    	</div>
        
    </div>
    
    <!--会员中心end-->
</div>
<script src="js/common.js"></script>
</body>

</html>