#logo_1{
    background:#29bde0 url(images/img.png) no-repeat 0 -100px;
    height:37px;
    width:44px;
    position:relative;
    top:15px;
    left:1%;
}
#logo_2{
    background:#fff url(images/img.png) no-repeat 0 -15px;
    height:44px;
    width:32px;
    position:absolute;
    right:2%;
    top:20px;
}
#logo_3{
    background:#fff url(images/img.png) no-repeat 0 -335px;
    height:22px;
    width:106px;
    margin:5px auto;
}
#triangle{
    width:0;
    height:0;
    border-bottom: 20px solid transparent;
    border-top:20px solid transparent;
    border-left:20px solid #fbb435;
    font-size:0;
    line-height:0;
    position: absolute;
    right:2%;
    top:45%;
}
.main{
    background-color: #f0f0f0;
}
.content{
    text-align: center;
}
.region_top{
    position: relative;
    text-align: center;
    font-size: 2.7em;
    color:#9a9a9a;
    line-height: 80px;
    height:80px;
    width:80%;
    background: #fff;
    border:1px #c9c9c9 solid;
    margin:20px auto;
}
.region_bottom{
    position: relative;
    text-align: center;
    font-size: 3em;
    width:80%;
    background: #fff;
    border:1px #c9c9c9 solid;
    margin:0 auto;
    padding:10px 0;
}
.region_title{
    color:#fcc87b;
}
.line-1{
    height:1px;
    width:100%;
    background-color: #fcc87b;
    margin:10px 0;
}
.region_list{
    width:100%;
    margin:10px auto;
}
.blue{
    width:80%;
    height:80px;
    background-color: #69d1e9;
    margin:20px auto;
    color:white;
    line-height: 80px;
}
.region-sum{
    font-size: 0.8em;
    margin:10px auto;
    color:#9a9a9a;
}