*{outline:none;font-family:"微软雅黑",Arial,serif;}
body,div,ul,ol,dl,li,h1,h2,h3,h4,h5,h6,dt,dd,img,a,span,p,table,td,i,input,button,textarea,form,input,button{padding:0;margin:0;border:none;}

.main{
    position: relative;
    overflow: hidden;
    font-size:65%;
    background-color: #fafafa;
}

@media screen and (max-width: 992px) {
    .main{
        font-size: 60%;
    }
}

@media screen and (max-width: 768px) {
    .main{
        font-size: 50%;
    }
}

.top{
    width:100%;
    height:40px;
    font-size: 1em;
    color:#29b078;
    background-color:#fff;
}

.top p{
    position: relative;
    left:12%;
    display:inline-block;
    line-height: 40px;
}

.top img{
    float:right;
    margin-top: 7px;
    margin-right: 12%;
    width:10%;
    min-width:80px;
    max-width: 115px;
}

.wrap1{
    float:right;
    width:100%;
    padding-right:12%;
}

.nav{
    width:100%;
    height:100px;
    background-color:#29b078;
}

.nav-logo{
    position: absolute;
    width:20%;
    top:65px;
    left:12%;
}
.nav-logo img{
    max-width:100%;
    min-width: 90px;
}

.title{
    float: right;
    display: inline-block;
    width:9%;
    height:100px;
    font-size: 1.6em;
    color:#fff;
    line-height: 96px;
    text-align: center;
    cursor: pointer
}
@media screen and (max-width: 768px) {
    .title {
        width:12%;
    }
}
.title:hover p{
    background:#52b089;
    border-bottom:4px solid white;
}

.footer{
    background-color: #29b078;
}

.info{
    height:170px;
    padding:0 12%;
}
@media screen and (max-width: 768px) {
    .info {
        padding:0 5%;
    }
}

.footer-left{
    float: left;
    margin:30px 0;
    color:white;
    font-size: 1.5em;
}
.about{
    margin:30px 0;
    white-space: pre;
}


.footer-middle{
    padding:30px 15% 0 30%;
    color:white;
    font-size: 1.5em;
}
@media screen and (max-width: 768px) {
    .footer-middle {
        padding:30px 0 0 0;
    }
}
.footer-middle>p{
    margin-bottom: 30px;
}


.cell{
    float: left;
    display: inline-block;
    margin-right: 5%;
}

.footer-right{
    float: right;
    width:8%;
    min-width: 60px;
    max-width:100px;
    margin-top:30px;
    color:white;
    font-size: 1.5em;
}
@media screen and (max-width: 768px) {
    .footer-right {
        display: none;
    }
}
.footer-right p{
    margin-bottom: 5px;
}

.footer-right img{
    width: 100%;
}

.copyright{
    color:#fff;
    text-align: center;
    line-height: 25px;
}
.copyright p{
    display: inline;
    margin:3px;
}

a:link,a:visited{
    text-decoration: none;
    color:#999;
}