ul{
    list-style: none;
}
.container{
    margin:0 360px;
}
.crumb p{
    display: inline-block;
    margin:30px 0 15px 0;
}
.current{
    color:#29b078;
}
.block{
    width:100%;
    height: 1px;
    background-color: #d0d6d9;
    margin:20px 0;
}
.block_1{
    width:100%;
    height: 1px;
    background-color: #edf1f2;
    margin:20px 0;
}
.head{
    font-size: 0.8em;
    font-weight: 500;
}
.head ul li{
    float:left;
    margin:0 23px 0 0;
}
.li_spe~li:hover{
    background-color: #29b078;
    color:#fff;
    cursor:pointer;
}
.clearfix{
    *zoom:1
}
.clearfix:before,
.clearfix:after{
    display: table;
    line-height: 0;
    content: '';
}
.clearfix:after{
    clear:both
}
.li_spe{
    color:#afafaf;
}
.content_title{
    font-size: 1.0em;
    font-weight:600;
    letter-spacing: 0.05em;
    padding:10px 0;
}
.card{
    width:380px;
    border:1px #eeeded solid;
    background-color: #fff;
    margin:0 0 27px 27px;
    float:left;
    position: relative;
}
.card-spe{
    margin:0 0 27px 0;
}
.pic{
    padding:0 10px;
    margin-bottom: 15px;
}
.pic img{
    display: inline-block;
    padding: 0 10px 0 0;
    float:left;
}
.card_title{
    font-size: 1.0em;
    font-weight:600;
    letter-spacing: 0.05em;
    margin: 10px 0;
    padding-top: 10px;
}
.card_title+p{
    display: inline;
    font-size:0.75em;
}
.des{
    font-size: .80em;
    color:#999999;
    line-height: 2.0em;
}
.des p{
    display: inline;
    position: relative;
}
.des-box{
    width:49.8%;
    float:left;
}
.des-box p{
    margin-left: 10px;
}
#des-box-1{
    border-top:1px solid #edf1f2;
    border-bottom:1px solid #edf1f2;
    border-right:1px solid #edf1f2;
}
#des-box-2{
    border-top:1px solid #edf1f2;
    border-bottom:1px solid #edf1f2;
}
#des-box-3{
    border-bottom:1px solid #edf1f2;
    border-right:1px solid #edf1f2;;
}
#des-box-4{
    border-bottom:1px solid #edf1f2;
}
em.red{
    font-style: normal;
    color:red;
}
em.black{
    font-style: normal;
    color:black;
}
.money{
    font-size: .80em;
    color:#999999;
    line-height: 2.0em;
}
div.float-left{
    float:left;
    width:150px;
    height:89px;
    line-height: 89px;
    text-align: center;
    color:#999999;
    border-bottom:1px solid #edf1f2;
    border-right:1px solid #edf1f2;
    background-color: #fff;
    z-index: 1;
}
.money-line{
    border-bottom:1px solid #edf1f2;
}
div.money-line p{
    display: inline-block;
    color:black;
    margin:0 10px;
}
p.float-right{
    float:right;
}
.status div{
    border-bottom:1px solid #edf1f2;
    padding-left: 10px;
    line-height: 2.5em;
}
.learning{
    font-size: .68em;
    line-height: 2.5em;
    color: #999;
}
.hide {
    position: absolute;
    opacity: 0;
    display: block;
    height: 402px;
    background-color: rgba(80,80,80,0.8);
    top: 0;
    padding: 0 60px;
    font-size: 0.8em;
    color:white;
    cursor: pointer;
}
.hide h2{
    font-size: 1em;
    text-align: center;
    margin: 60px 0 20px 0;
}
.footer,.second,.third{
    clear:both;
}
.card:hover .hide{
    opacity:1;
}
