ul {
    list-style: none;
}

#wrap {
    position: relative;
    width: 1920px;
    height: 600px;
    margin-bottom: 30px;
    overflow: hidden;
}

#slider {
    width: 300%;
    height: 100%;
    text-align: center;
    color: #fff;
    margin-left: 0;
    -webkit-animation: slide1 6s ease-out infinite;
}

#slider li {
    float: left;
    width: 1920px;
    height: 100%;
}

#slider li:nth-child(1) {
    background: #6bacef url(images/banner-1.jpg);
}

#slider li:nth-child(2) {
    background: #297cd3 url(images/banner-2.jpg);
}

#slider li:nth-child(3) {
    background: #01254a url(images/banner-3.jpg);
}


/*创建三种动画策略*/

@-webkit-keyframes slide1 {
    0% {
        margin-left: 0;
    }
    23% {
        margin-left: 0;
    }
    33% {
        margin-left: -1920px;
    }
    56% {
        margin-left: -1920px;
    }
    66% {
        margin-left: -3840px;
    }
    90% {
        margin-left: -3840px;
    }
    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes slide2 {
    0% {
        margin-left: -1920px;
    }
    23% {
        margin-left: -1920px;
    }
    33% {
        margin-left: -3840px;
    }
    56% {
        margin-left: -3840px;
    }
    66% {
        margin-left: 0;
    }
    90% {
        margin-left: 0;
    }
    100% {
        margin-left: -1920px;
    }
}

@-webkit-keyframes slide3 {
    0% {
        margin-left: -3840px;
    }
    23% {
        margin-left: -3840px;
    }
    33% {
        margin-left: 0;
    }
    56% {
        margin-left: 0;
    }
    66% {
        margin-left: -1920px;
    }
    90% {
        margin-left: -1920px;
    }
    100% {
        margin-left: -3840px;
    }
}


/*修改动画名称*/

#l01:checked ~ #wrap #slider {
    -webkit-animation-name: slide1;
}

#l02:checked ~ #wrap #slider {
    -webkit-animation-name: slide2;
}

#l03:checked ~ #wrap #slider {
    -webkit-animation-name: slide3;
}


/*短暂地取消动画名称，模拟重启动画*/

#l01:active ~ #wrap #slider {
    -webkit-animation-name: none;
    margin-left: 0;
}

#l02:active ~ #wrap #slider {
    -webkit-animation-name: none;
    margin-left: -1920px;
}

#l03:active ~ #wrap #slider {
    -webkit-animation-name: none;
    margin-left: -3840px;
}

#opts {
    position: absolute;
    top:710px;
    left:900px;
    width: 600px;
    height: 40px;
    margin: auto;
    text-align: center;
}

#opts label {
    border-radius: 20px;
    float: left;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    background: transparent;
    cursor: pointer;
    border:1px white solid;
}

#opts label:hover {
    background: #fff;
}


/* 隐藏Input按钮*/

#l01,
#l02,
#l03 {
    display: none;
}

#logo_3{
    background: transparent url(logo/img.png) 0 -46px;
    width:41px;
    height:54px;
    position: absolute;
    right:300px;
    top:400px;
}
#logo_3 label{
    position: absolute;
    width:50px;
    height:50px;
    background-color: transparent;
    cursor: pointer;
}
#logo_4{
    background: transparent url(logo/img.png) 0 -100px;
    width:41px;
    height:54px;
    position: absolute;
    left:300px;
    top:400px;
}
#logo_4 label{
    position: absolute;
    width:50px;
    height:50px;
    background-color: transparent;
    cursor: pointer;
}


/*轮播图结束*/

.wrap{
    padding:0 360px;
}
#logo_5{
    background:transparent url(logo/img.png) 0 -154px;
    height: 67px;
    width:53px;
    margin-bottom: 10px;
    display: inline-block;
}

#logo_6{
    background:transparent url(logo/img.png) 0 -352px;
    height: 67px;
    width:68px;
    margin-bottom: 10px;
    display: inline-block;
}
#logo_7{
    background:transparent url(logo/img.png) 0 -221px;
    height: 67px;
    width:59px;
    margin-bottom: 10px;
    display: inline-block;
}

.logo_8{
    background:transparent url(logo/img.png) 0 0;
    height: 16px;
    width:17px;
    display: inline-block;
}
.logo_8~span{
    color:#29b078;
}
.region_1{
    margin-top: 150px;
    height: 250px;
    width:100%;
}
.cell-1{
    float: left;
    display: inline-block;
    margin: 0 60px 0 0;
    width: 260px;
    text-align: center;
}
.cell div{
    display: inline-block;
}
.cell_title{
    text-align: center;
    font-weight: bold;
}
.cell_text{
    font-size: 0.9em;
    text-align: left;
    color:#999;
}
.cell_people{
    float:right;
    font-size: 0.9em;
    color:#999;
    border-left:1px #999 dashed;
    padding-left:40px;
}
.cell_people>div{
    margin:25px 0;
}
.table_container{
    display: table;
    margin-bottom: 120px;
}
.table_row{
    display: table-row;
}
.table_cell{
    display:table-cell;
    padding:40px 0;
}
.region_2{
    margin-top: 100px;
}
.region_2>p{
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}
.logo_9{
    background: #fff url(logo/img.png) 0 -440px;
    height:78px;
    width:79px;
}
.logo_9 p{
    text-align: center;
    line-height: 78px;
    height: 78px;
    color:#29b078;
}
.number{
    display: inline-block;
    width:78px;
}
.description{
    font-size: 0.8em;
    display: inline-block;
    width:150px;
    color:#a1a1a1;
}
.triangle{
    background: #fafafa url(logo/img.png) 0 -16px;
    height: 30px;
    width: 64px;
    display: inline-block;
    margin-left:15px;
}
#pic1{
    background: #fff url(logo/img.png) 0 -830px;
    height:108px;
    width:108px;
    display: inline-block;
}
#pic2{
    background: #fff url(logo/img.png) 0 -614px;
    height:108px;
    width:108px;
    display: inline-block;
}
#pic3{
    background: #fff url(logo/img.png) 0 -938px;
    height:108px;
    width:108px;
    display: inline-block;
}
#pic4{
    background: #fff url(logo/img.png) 0 -722px;
    height:108px;
    width:108px;
    display: inline-block;
}
.block-right{
    float: right;
}
.region_3{
    margin-bottom: 120px;
}
.people{
    width:210px;
    border-radius: 5px;
    box-shadow: -3px 3px 8px 1px  #ededed;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    padding:0 30px;
    line-height: 1.5em;
}
.people div{
    margin:30px 0;
}
.AK{
    margin:0 15px;
}
#title_spe{
    margin-bottom: 75px;
}
.cell_text_2{
    font-size: 0.9em;
    text-align: left;
    color:#999;
    margin: 25px 0;
}
#logo_10{
    background: #fff url(logo/img.png) 0 -419px;
    height:21px;
    width:73px;
    margin:15px auto;
}
#corp_1{
    background: #fff url(logo/img.png) 0 -1243px;
    height:64px;
    width:150px;
    display: inline-block;
    position: relative;
    left:50px;
}
#corp_2{
    background: #fff url(logo/img.png) 0 -288px;
    height:64px;
    width:64px;
    display: inline-block;
    position: relative;
    left:180px;
}
#corp_3{
    background: #fff url(logo/img.png) 0 -1179px;
    height:64px;
    width:146px;
    display: inline-block;
    position: relative;
    left:280px;
}
#corp_4{
    background: #fff url(logo/img.png) 0 -1307px;
    height:64px;
    width:178px;
    display: inline-block;
    position: relative;
    left:360px;
}
#corp_5{
    background: #fff url(logo/img.png) 0 -1115px;
    height:64px;
    width:138px;
    display: inline-block;
    position: relative;
    left:450px;
}
.corp_sum{
    margin-top: 75px;
    height:60px;
    padding:60px 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -3px 3px 8px 1px  #ededed;
}
#box_shadow{
    width:240px;
    height:180px;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: -3px 3px 8px 1px  #ededed;
    border:1px solid #ebebeb;
    position: relative;
    top:-180px;
    right:-480px;
    z-index: 1;
}
.hyperlink{
    background-color: #fff;
    height: 125px;
    padding: 10px 150px 0 150px;
}
.hyperlink p{
    margin: 15px 0;
}
.hyperlink ul li{
    float:left;
    margin:4px 28px;
    color:#999999;
}
.hyperlink ul{
    list-style: disc;
}
a:link{
    color:#999999;
}
a:visited{
    color:#999999;
}
a:hover,a:active{
    cursor: pointer;
    background: #e8e5e5;
}