*{
    margin:0;
    padding:0;
}
img{
    max-width:100%;
}
.main{
    width:100%;
    min-width:320px;
    font-size:65%;
    font-family: '微软雅黑', Arial, serif;
    overflow: hidden;
}
.info{
    background-color: #29bde0;
    width:100%;
    font-size:1.1em;
    color:#fff;
}
.info_left{
    position:absolute;
    padding:0;
}
.info_left span{
    vertical-align: top;
}
.info_right{
    position: absolute;
    right:0;
    padding:0;
}
.info_right span{
    vertical-align: top;
}
.info_center{
    text-align: center;
    font-weight:bold;
}
.tab{
    height:65px;
    background-color:#29bde0;
}
@media screen and (max-width:500px){
    .main{font-size:40%}
}
