#logo_1{
    background:#29bde0 url(images/img.png) no-repeat 0 -180px;
    height:47px;
    width:52px;
    position:absolute;
    top:25px;
    left:1%;
}
#logo_2{
    background:#29bde0 url(images/img.png) no-repeat 0 -60px;
    height:42px;
    width:44px;
    position:absolute;
    top:28px;
    right:1%;
}
.tab{
    color:#fff;
    font-size: 3em;
    text-align: center;
    line-height: 65px;
}
.trans{
    height:50px;
    background-color: #69d1e9;
}