*{
    margin:0;
    padding:0;
}
img{
    max-width:100%;
}
.main{
    width:100%;
    min-width:320px ;
    color:white;
    font-size:65%;
    font-family: '微软雅黑', Arial, serif;
}
.info{
    background-color: #5fc0cd;
    width:100%;
    font-size:1.1em;
}
.info_left{
    position:absolute;
    padding:0;
}
.info_left span{
    vertical-align: top;
}
.info_right{
    position: absolute;
    right:0;
    padding:0;
}
.info_right span{
    vertical-align: top;
}
.info_center{
    text-align: center;
    font-weight:bold;

}
.tab{
    font-size:2.0em;
    background-color: #5fc0cd;
    height:40px;
    text-align: center;
    padding-top:10px;
}
.tab img{
    position:absolute;
    left:1%;
    vertical-align: middle;
}
.banner{
    background-image:url(img/banner.jpg);
    background-size:cover;
    height:266px;
}
.banner>img{
    position: relative;
    margin:70px 0 0 20px ;
    border-radius: 70px;
}
.xinxi{
    position:absolute;
    top:175px;
    left:160px;
    width:60%;
    font-size: 2.1em;
}
.pic_logo{
    vertical-align: middle;
}
.xinxi p{
    display:inline;
    font-size: 0.7em;
}
.detail{
    font-size:1.7em;
    color:black;
    padding:20px;
}
.detail img{
    vertical-align:middle;
}
.detail p{
    display:inline;
}
.block_1{
    position: relative;
    left:-50px;
    height:1px;
    background-color:#e1e5e7;
    width:200%;
    margin:10px 0;
}
.block_2{
    position:relative;
    left:5px;
    height:1px;
    background-color:#e1e5e7;
    width:150%;
    margin:10px 0;
}
.block_3{
    height:10px;
    background: #fff;
}
.line1,.line2,.line3,.line4,.line5{
    padding:5px;
}
#box1{
    display:inline-block;
    width:70%;
    vertical-align: middle;
}
.style1{
    color:#999999;
    font-size: 1.1em;
}
.style2{
    color:black;
    font-size:1.1em;
}
.style3{
    color:#e26163;
    font-size:1.1em;
}
.style4{
    color:black;
    font-size:1.2em;
}
.footer div{
    height:5%;
}
.white{
    width:45%;
    float:left;
    border-radius: 5px;
    border:1px #5fc0cd solid;
    background: #fff;
    font-size: 1.3em;
    color:#5fc0cd;
    height:50px;
    margin:0 1% 0 3%;
}
.blue{
    width:45%;
    float:right;
    border-radius: 5px;
    border:1px #5fc0cd solid;
    background: #5fc0cd;
    font-size: 1.3em;
    color:#fff;
    height:50px;
    margin:0 3% 0 1%;
}
@media screen and (max-width:500px){
    .main{font-size:50%}
}